@import "./_vars.scss";
@import "./_mixins.scss";

// TIPPY START
.tippy-box {
  border-radius: 8px;
  background-color: var(--black);
}
.tippy-arrow {
  color: var(--black);
}
.tippy-content {
  padding: 6px 8px;
  color: var(--white);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
// TIPPY END

// SELECT START
.select2-container {
  flex: 1;
  .select2-selection--single {
    height: 74px;
    height: clampHelper(62px, 74px, $tablet, $desktop);
    border: none;
    border-radius: 16px;
    background: var(--white, #fff);
    @media (max-width: $tablet) {
      height: 62px;
    }
    @media (max-width: $mobile) {
      height: 54px;
    }
  }
  &--open {
    box-shadow: -4px 12px 24px 0 rgba(42, 0, 90, 0.16);
    .select2-selection__arrow {
      transform: rotate(180deg);
    }
    .select2-dropdown {
      box-shadow: -4px 12px 24px 0 rgba(42, 0, 90, 0.16);
      border-top-left-radius: 0 !important;
      border-top-right-radius: 0 !important;
    }
  }
  .select2-dropdown {
    border: none !important;
    border-radius: 16px;
  }
  .select2-results {
    padding-bottom: 16px;
    &__option {
      padding-inline: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: var(--black);
      font-size: 20px;
      font-size: clampHelper(16px, 20px, $tablet, $desktop);
      font-style: normal;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: -0.16px;
      @media (max-width: $tablet) {
        font-size: 16px;
      }
      $this: &;
      &--selected {
        background: initial;
        .select2-custom-option__svg {
          display: block;
        }
      }
      &--disabled {
        color: var(--RT-orange);
      }
    }
  }
}

.select2-results__option--highlighted.select2-results__option--selectable {
  background-color: initial !important;
  color: var(--RT-violet) !important;
  .select2-custom-option__checkbox {
    border: 1px solid var(--RT-violet);
  }
}

.select2-selection {
  &__rendered {
    height: 100%;
    padding-inline: 16px !important;
    display: flex !important;
    align-items: center;
    color: var(--black);
    font-size: 24px;
    font-size: clampHelper(20px, 24px, $tablet, $desktop);
    font-style: normal;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: -0.2px;
    @media (max-width: $tablet) {
      font-size: 20px;
    }
    @media (max-width: $mobile) {
      font-size: 16px;
    }
  }
  &__arrow {
    position: absolute;
    height: 100% !important;
    width: 32px !important;
    right: 9px !important;
    top: 4px !important;
    display: flex;
    align-items: center;
    transform-origin: 12px 50%;
    transition: transform 0.2s linear;
    b {
      position: relative !important;
      top: initial !important;
      left: initial !important;
      display: block;
      height: 32px !important;
      width: 32px !important;
      background-image: url("/src/assets/selectArrow.svg");
      border: none !important;
    }
  }
}

.select2-custom-option {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  &__checkbox {
    position: relative;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    appearance: none;
    background-color: var(--Silver);
    border-radius: 4px;
  }
  &__svg {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 2px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="14" height="12" viewBox="0 0 14 12" xml:space="preserve"><path fill-rule="evenodd" clip-rule="evenodd" d="M13.1986 1.0594L4.85478 11.3287L0 7.16747L1.09333 5.89192L4.63855 8.93068L11.8947 0L13.1986 1.0594Z" fill="%237700FF"/></svg>');
  }
}

.select2-custom-clear-btn {
  margin-left: 16px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--RT-da);
  border-radius: 50%;
  background-color: var(--Silver);
  border: none;
  cursor: pointer;
}

.select2-custom-selection {
  display: flex;
  align-items: center;
}
// SELECT END
