@import "./_vars.scss";
@import "./_mixins.scss";

.companies {
  &__title {
    margin-top: 96px;
    max-width: 1064px;
  }
  &__filters {
    margin-top: 64px;
    display: flex;
    flex-flow: row nowrap;
    gap: 8px;
    @media (max-width: $tablet) {
      flex-flow: column nowrap;
    }
  }
  &__list {
    margin-top: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    @media (max-width: $tablet) {
      grid-template-columns: 1fr 1fr;
      gap: 16px;
    }
    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
    }
  }
  &__item {
  }
}

.companies-item {
  display: block;
  height: 100%;
  padding: 40px;
  border-radius: 40px;
  background: var(--white);
  transition: transform 0.2s linear;
  &:hover {
    cursor: pointer;
    transform: scale(1.02);
  }
  &__title {
    color: var(--black);
    font-size: 32px;
    font-size: clampHelper(24px, 32px, $tablet, $desktop);
    font-style: normal;
    font-weight: 700;
    line-height: 1.33;
    @media (max-width: $tablet) {
      font-size: 24px;
    }
  }
  &__description {
    margin-top: 12px;
    color: var(--black);
    font-size: 20px;
    font-size: clampHelper(16px, 20px, $tablet, $desktop);
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    @media (max-width: $tablet) {
      font-size: 16px;
    }
  }
}
