@use "tippy.js/dist/tippy.css";
@use "tom-select/dist/css/tom-select.css";
@use "./_reset.scss";
@use "./_fonts.scss";
@use "./_header.scss";
@use "./_footer.scss";
@use "./_bg.scss";
@use "./_libs.scss";
@use "./catalog.scss";
@use "./companies.scss";
@use "./solution.scss";
@use "./company.scss";
@use "./homePage.scss";

@import "./_vars.scss";
@import "./_mixins.scss";

:root {
  --color1: 119, 0, 255;
  --color2: 255, 79, 18;
  --color3: 255, 79, 18;
  --color4: 255, 79, 18;
  --color5: 119, 0, 255;
  --color-interactive: 140, 100, 255;
  --circle-size: 80%;
  --blending: hard-light;

  // -- Style guide colors start
  --white: #fff;
  --black: #2c2833;
  --RT-violet: #70f;
  --Purple-Hovered: #5900bf;
  --Purple-Pressed: #2a005a;
  --RT-orange: #ff4f12;
  --RT-strong-orange: #e83c00;
  --RT-dark-orange: #e82300;
  --Silver: #f8f2ff;
  --RT-grey: #c4bdff;
  // -- Style guide colors end
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  background: var(--Silver);
  min-height: 100vh;
  color: #161616;
  font-family: "Rostelecom Basis";
  a {
    transition: color 0.2s linear;
    color: inherit;
    &:hover {
      color: var(--Purple-Hovered);
    }
    &:active {
      color: var(--Purple-Pressed);
    }
  }
  &.no-scroll {
    overflow: hidden;
    height: 100vh;
  }
}

.page-wrapper {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}

.logo {
  /* height: 48px;
    width: 48px;
    background-color: #161616;
    border-radius: 12px; */
}

.link {
  transition: color 0.2s linear;
  color: var(--RT-violet);
  font-weight: 500;
  &:hover {
    color: var(--Purple-Hovered);
  }
  &:active {
    color: var(--Purple-Pressed);
  }
}

.btn {
  height: 68px;
  padding: 0 48px;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #161616;
  border-radius: 48px;
  font-family: "Rostelecom Basis";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  color: var(--white);
  line-height: 1.4;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s linear;
  &:hover {
    color: var(--RT-violet);
  }
  &:active {
    color: var(--Purple-Pressed);
  }
  &--accent {
    background-color: var(--RT-violet);
    &:hover {
      color: var(--white);
      background-color: var(--Purple-Hovered);
    }
    &:active {
      color: var(--white);
      background-color: var(--Purple-Pressed);
    }
  }
  &--large {
    height: 80px;
    padding: 0 64px;
    font-size: 24px;
    line-height: 32px;
    @media (max-width: $tablet) {
      height: 68px;
      padding: 0 48px;
      font-size: 20px;
      line-height: 1.4;
    }
    @media (max-width: $mobile) {
      height: 64px;
      font-size: 16px;
      line-height: 24px;
    }
  }
  &--disabled {
    background-color: var(--RT-grey);
    pointer-events: none;
  }
}

.inner {
  position: relative;
  flex: 1;
  height: 100%;
  max-width: 1760px;
  display: flex;
  flex-flow: column nowrap;
  padding: 0 76px;
  width: 100%;
  margin: 0 auto;
  z-index: 2;
  @media (max-width: $tablet) {
    padding: 0 32px;
  }
  @media (max-width: $mobile) {
    padding: 0 16px;
  }
}

.main {
  flex: 1;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  z-index: 999;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  overflow: auto;
  &.isVisible {
    display: flex;
  }
  &__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
  }
  &__dialog {
    position: relative;
    margin: 140px 0;
    width: 704px;
    position: relative;
    padding: 108px 32px 32px;
    background-color: var(--white);
    border-radius: 40px;
    z-index: 1;
    box-shadow: -4px 12px 24px 0 rgba(42, 0, 90, 0.16);
    @media (max-width: $mobile) {
      margin: 0;
      width: 100%;
      min-height: 100%;
      border-radius: 0;
      box-shadow: none;
      padding: 80px 32px 32px;
    }
  }
  &__close {
    position: absolute;
    top: 32px;
    right: 32px;
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 0;
    color: var(--black);
    cursor: pointer;
    svg {
      transition: color 0.2s linear;
    }
    &:hover {
      svg {
        color: var(--RT-violet);
      }
    }
    &:active {
      svg {
        color: var(--Purple-Hovered);
      }
    }
  }
  &__title {
    color: var(--black);
    text-align: center;
    font-size: 44px;
    font-style: normal;
    font-weight: 500;
    line-height: 56px;
    @media (max-width: $mobile) {
      font-size: 24px;
      line-height: 32px;
    }
  }
  &__message {
    margin-top: 16px;
    text-align: center;
    color: var(--black);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }
  &__actions {
    margin-top: 44px;
    display: flex;
    justify-content: center;
  }
}

.contact-us-form {
  width: 100%;
  margin-top: 44px;
}

.success-img-wrapper {
  margin: 92px 0 120px;
  display: flex;
  justify-content: center;
  img {
    width: 200px;
  }
}

.inputs-group {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 40px;
}

.input-field {
  position: relative;
  width: 100%;

  height: 42px;
  $this: &;
  &--textarea {
    height: auto;
    min-height: 42px;
    #{$this}__input {
      min-height: 42px;
      padding-top: 8px;
      font-family: inherit;
      resize: vertical;
    }
  }
  &__label {
    position: absolute;
    left: 0;
    top: -17px;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    transition: all 0.2s linear;
    pointer-events: none;
    color: var(--Purple-Pressed);
    &.hasError {
      color: var(--RT-dark-orange);
    }
  }
  &__input {
    width: 100%;
    height: 100%;
    padding: 0;
    font-family: inherit;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    border: none;
    border-bottom: 1px solid var(--Purple-Pressed);
    color: var(--Purple-Pressed);
    outline: none;
    &:not(:focus) {
      &:placeholder-shown {
        & + #{$this}__label {
          left: 0;
          top: 8px;
          font-size: 20px;
        }
      }
    }
    &:focus {
      border-color: var(--RT-violet);
      & + #{$this}__label {
        color: var(--RT-violet);
      }
    }
    &.hasError {
      border-color: var(--RT-dark-orange);
      & + #{$this}__label {
        color: var(--RT-dark-orange);
      }
    }
  }
  &__error-text {
    position: absolute;
    top: 100%;
    left: 0;
    color: var(--RT-dark-orange);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
}

.checkboxs-group {
  margin-top: 44px;
  display: flex;
  flex-flow: column nowrap;
  gap: 7px;
}

.checkbox {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  &__text {
    color: var(--Purple-Pressed);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }
}

input[type="checkbox"] {
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  appearance: none;
  background-color: var(--Silver);
  border-radius: 4px;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  flex-shrink: 0;
  &:hover {
    border: 1px solid var(--RT-violet);
  }
  &:checked {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 2px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="14" height="12" viewBox="0 0 14 12" xml:space="preserve"><path fill-rule="evenodd" clip-rule="evenodd" d="M13.1986 1.0594L4.85478 11.3287L0 7.16747L1.09333 5.89192L4.63855 8.93068L11.8947 0L13.1986 1.0594Z" fill="%237700FF"/></svg>');
  }

  &:disabled {
    background-color: #eee;

    &:checked {
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="14" height="12" viewBox="0 0 14 12" xml:space="preserve"><path fill-rule="evenodd" clip-rule="evenodd" d="M13.1986 1.0594L4.85478 11.3287L0 7.16747L1.09333 5.89192L4.63855 8.93068L11.8947 0L13.1986 1.0594Z" fill="%237700FF"/></svg>');
    }
  }
  &.hasError {
    border: 1px solid var(--RT-dark-orange);
  }

  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }
}

.breadcrumbs {
  display: block;
  color: var(--black);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: -0.2px;
  @media (max-width: $mobile) {
    font-size: 15px;
  }
}

.content {
  max-width: 1336px;
  margin-inline: auto;
}

.text-content {
  max-width: 928px;
  *:first-child {
    margin-top: 0;
  }
  *:last-child {
    margin-bottom: 0;
  }
  a {
    color: var(--RT-violet);
  }
  h2 {
    margin-top: 48px;
    margin-bottom: 16px;
    color: var(--black);
    font-size: 32px;
    font-size: clampHelper(26px, 32px, $tablet, $desktop);
    font-style: normal;
    font-weight: 500;
    line-height: 1.25;
    @media (max-width: $tablet) {
      font-size: 26px;
    }
  }
  h3 {
    margin-top: 48px;
    margin-bottom: 16px;
    color: var(--black);
    font-size: 24px;
    font-size: clampHelper(20px, 24px, $tablet, $desktop);
    font-style: normal;
    font-weight: 500;
    line-height: 1.6;
    @media (max-width: $tablet) {
      font-size: 20px;
    }
  }
  p {
    margin-block: 16px;
    color: var(--black);
    font-size: 24px;
    font-size: clampHelper(20px, 24px, $tablet, $desktop);
    font-style: normal;
    font-weight: 400;
    line-height: 1.6;
    @media (max-width: $tablet) {
      font-size: 20px;
    }
  }
  ul,
  ol {
    margin-block: 16px;
    li {
      color: var(--black);
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 34px;
    }
  }
  ul {
    padding-left: 35px;
    list-style: none;
    li + li {
      margin-top: 16px;
    }
    li {
      position: relative;
      color: var(--black);
      font-size: 24px;
      font-size: clampHelper(20px, 24px, $tablet, $desktop);
      font-style: normal;
      font-weight: 400;
      line-height: 1.6;
      &:before {
        content: "";
        position: absolute;
        width: 5px;
        height: 5px;
        left: -20px;
        top: 17px;
        top: clampHelper(12px, 17px, $tablet, $desktop);
        background-color: var(--black);
        border-radius: 50%;
        @media (max-width: $tablet) {
          top: 12px;
        }
      }
      @media (max-width: $tablet) {
        font-size: 20px;
      }
    }
  }
  blockquote {
    margin-block: 16px;
    padding-left: 40px;
  }
}

.content-ul-list {
  padding-left: 35px;
  list-style: none;
  li {
    position: relative;
    color: var(--black);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    li:before {
      content: "";
      position: absolute;
      width: 4px;
      height: 4px;
      left: -20px;
      top: 17px;
      background-color: var(--black);
      border-radius: 50%;
    }
    & + & {
      margin-top: 16px;
    }
  }
}

.h1 {
  color: var(--black);
  font-size: 44px;
  font-size: clampHelper(32px, 44px, $tablet, $desktop);
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  @media (max-width: $tablet) {
    font-size: 32px;
  }
}

.tags {
  margin-top: 48px;
  display: flex;
  flex-flow: row wrap;
  row-gap: 16px;
  column-gap: 4px;
  &__item {
    height: 56px;
    height: clampHelper(48px, 56px, $tablet, $desktop);
    padding: 0 32px;
    border-radius: 32px;
    background-color: #f0e2ff;
    @media (max-width: $tablet) {
      height: 48px;
    }
  }
  &__link {
    height: 100%;
    width: 100%;
    padding-bottom: 2px;
    display: flex;
    align-items: center;
    color: var(--RT-violet);
    font-size: 20px;
    font-size: clampHelper(16px, 20px, $tablet, $desktop);
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.2px;
    @media (max-width: $tablet) {
      font-size: 16px;
    }
  }
}

// .js-select {
//   visibility: hidden;
//   height: 62px;
// }
