.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin: 64px 0 500px 0;
}

.empty_header {
  color: #FFF;
  font-family: 'Rostelecom Basis', 'Inter', sans-serif;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.empty_description {
  color: #B5B7C0;
  text-align: center;
  font-family: 'Rostelecom Basis', 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

@media (max-width: 767px) {

  .empty {
    gap: 12px;
    margin: 32px 0 300px 0;
  }

  .empty_header {
    font-size: 18px;
    line-height: 24px;
  }

  .empty_description {
    font-size: 16px;
    line-height: 20px;
  }
}