.header { padding-top: 16px; padding-bottom: 16px; }

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  min-height: 88px;
  border-radius: 20px;
  border: 1px solid var(--color-bg);;
  background: rgba(88, 93, 105, 0.05);
  backdrop-filter: blur(12px);
}

.header__logo { flex-shrink: 0; }
.header__logo img.desktop { display: block; height: 48px; width: auto; }
.header__logo img.mobile { display: none; height: 40px; width: auto; }

/* CTA */
.header__cta {
  padding: 12px 24px;
  border-radius: var(--radius-s);
  background: var(--color-purple-main);
  color: var(--color-neutral-white);
  font-family: var(--font-family-medium);
  font-size: var(--font-button-web-small-size);
  line-height: var(--font-button-web-small-line-height);
  font-weight: 500;
  transition: background 0.2s;
  white-space: nowrap;
  flex-shrink: 0;
}
.header__cta:hover { background: var(--color-purple-hover); }

.header__nav {
  display: flex;
  border-radius: var(--radius-s);
  align-items: center;
}

.header__nav-link {
  padding: 8px 32px;
  border-radius: var(--radius-s);
  color: var(--color-platinum-light);
  font-family: var(--font-family-medium);
  font-size: var(--font-body-medium-size);
  line-height: var(--font-body-medium-line-height);
  font-weight: 500;
  transition: background 0.2s, color 0.2s;
  cursor: pointer;
}
.header__nav-link:hover { background: var(--color-white-transparent-10); }
.header__nav-link._active {
  background: var(--color-neutral-white);
  color: var(--color-neutral-black);
}

@media (max-width: 767px) {
  .header {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .header__inner {
    min-height: auto;
    gap: 12px;
    flex-wrap: wrap;
  }

  .header__logo img.desktop {
    display: none;
  }

  .header__logo img.mobile{
    display: block;
  }

  .header__cta {
    padding: 10px 16px;
    font-size: 14px;
  }

  .header__nav {
    order: 1;
    width: 100%;
    background: rgba(88, 93, 105, 0.05);
  }

  .header__nav-link {
    flex: 1;
    text-align: center;
    font-size: 14px;
  }
  .header__nav-link._active {
    background: var(--color-neutral-white);
    color: var(--color-neutral-black);
    border-color: 1px solid var(--color-neutral-white);
  }
}